<app-nav></app-nav>
<div id="about" class="box box-shadow-inset">
  <p>
    A associação de programadores angolanos é um grupo
    cujo o objectivo é motivar e elevar o programador angolano.
    Somos um conjunto que trabalha para a inovação de tecnologias
    e automatização de atividades do dia á dia angolano.
  </p>
  <p>
    A APA começou como um grupo de facebook criado por Simão Nziaka,
    no seu quarto no dia maravilhoso de 26 de Dezembro de 2011.
    Simão imaginou uma plataforma onde angolanos poderam se conectar,
    comunicar e partilhar ideias para o avanço da programação no seu país.
    Já que também ele era um novato em informática e ciências da computação
    nessa altura, desejou unir seus amigos e o pessoal online com um objectivo
    comum, criar aplicativos que vão contribuir para o desenvolvimento
    da sociedade angolana.
  </p>
  <p>
    E depois de 7 anos interagindo e moderando a comunidade no fb, em agosto de 2018,
    Simão decidiu que estava na hora de avançar com a ideia, e construir o site oficial da associação
    e fechar o grupo no facebook. E com muito orgulho continuar o sonho numa plataforma para a mwangolé
    feita por mwangolés.
  </p>
</div>
<app-footer></app-footer>
