.container {
  margin: auto;
  width: 70%;
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 250px 1fr;
}

/* menu items */

li {
  cursor: pointer;
  font-size: 17px;
  color: #2e2e2e;
  padding: 5px;
}

li.btn:hover { color: black; }

/* perfil */

.nome {
  font-size: 30px;
}

.email {
  font-size: 18px;
}

/* btns */

.my-items {
  background: rgb(255, 235, 235);
}

/* Dashboard */

.dashboard {
  background: rgb(252, 252, 252);
  border: 2px solid #f2f2f2;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

/* Letra de perfil */

.letra {
  width: 70px;
  font-size: 35px;
  font-weight: 500;
  font-family: sans-serif;
  background: rgb(156, 243, 255);
  border-radius: 100%;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
  text-align: center;
  text-shadow: 6px 5px darken(rgb(156, 243, 255), 35%);
  cursor: default;
  user-select: none;
}
