#article {
  margin: auto;
  width: 50%;
  margin-top: 60px;
}

.title {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  color: #4e4e4e;
}

.text {
  font-family: 'Gothic A1', sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
}
